.map-wrap {
  position: relative;
  width: 100%;
  height: 100vh; /* or any height */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Hide the zoom controls */
.leaflet-control-zoom {
  display: none !important;
}